
<h1 mat-dialog-title>New Ticket</h1>
<div mat-dialog-content>
    <form [formGroup]="f">
      <div class="w-100">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
      </div>
      <div class="w-100">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div class="w-100">
        <mat-form-field>
          <mat-label>Assignee</mat-label>
          <mat-select formControlName="assigneeId">
            <mat-option *ngFor="let user of users$| async" [value]="user.id">
              {{user.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()" >No Thanks</button>
  <button mat-button (click)="submit()" [disabled]="!f.valid">Ok</button>
</div>